#todoList{
    box-sizing:border-box;/*怪异盒模型*/
    border:rgb(203, 105, 47) solid;
    height:400px;
    width:700px;
    margin-left:0 auto;
    margin-right:0 auto;
}

#todoList .div1{
    margin-left:0 auto;
    margin-right: 0 auto;
    text-align:center;
    color:brown;
}


