*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content:center;
}
.banner{
  
    display:flex;
    flex-direction: column;
    position:relative;
    margin-top:30px;
    align-content: center;
    box-shadow: 0 0 8px #333;
    width:700px;
    height:500px;

}
.banner .playlist{
    position: absolute;
    top:0;
    left:0;
}

.banner .playlist img{
    width:700px; 
    height: 500px;
}
.banner .playlist li{
    position:absolute;
    list-style-type:none;
    display:none;
}
.playlist li.on{
    display:block;
}

/*   小圆点*/
.slider{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    bottom:10px;
    width:380px;

}
.slider span{
    user-select: none;
    width:20px;
    height:20px;
    line-height:45px;
    background-color:white;
    opacity:.5;
    text-align: center;
    justify-content:center;
    border-radius:50%;
    display: flex;
    margin-left:5%;
    font-size:10px;
    color:rgba(0,0,0,0);
    cursor:pointer;
}

.slider span:hover{
   
    background-color: red;
}

.slider span.active{
    cursor:pointer;
    background-color: red;
}


.btn_wrap span{
    user-select: none;
    position:absolute;
    width:40px;
    height:85px;
    line-height:85px;
    top:40%;
    text-align: center;
    font-size:32px;
    color:#fff;
    background-color:rgba(0,0,0,.4)
}
.btn_wrap span:hover{
    background-color:rgba(0,0,0,.8);
    cursor:pointer;
}
.btnL{
left:0;
}
.btnR{
    right:0
}